@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MountiesRegular';
    src: url('assets/fonts/MountiesRegular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MarbleyRegular';
    src: url('assets/fonts/MarbleyRegular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
  }



html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}